#----------------------------------------------------------------------#
# Arquivo de configuração do cliente MYSQL                             #
# Para mais explicações veja:                                          #
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html       #
# https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html #
#----------------------------------------------------------------------#

[mysql]

[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"